<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>

<body>
  <form action="/addmaster" method="POST">
    <h2>Add Item to Master Data</h2>

    <datalist id="type-data">
      <% skutypes.forEach(function(skutype) { %>
        <option value="<%=skutype.type %>">
          <%= skutype.type %>
        </option>
        <% }); %>
    </datalist>

    <label for="type">SKU Type:</label>
    <input type="text" list="type-data" name="type"><br>

    <label for="brand">Brand Name:</label>
    <input type="text" name="brand"><br>

    <label for="name">SKU Name:</label>
    <input type="text" name="name"><br>

    <label for="uom">UOM:</label>
    <input type="text" name="uom"><br>

    <label for="margin">Profit Margin:</label>
    <input type="number" min="0" name="margin"><br>

    <input type="submit">
  </form>

  <form action="/purchase" method="POST">
    <h2>Add Lot For Purchased Item</h2>

    <label for="date">Purchase Date:</label>
    <input type="date" name="date">
    <input type="time" name="time"><br>

    <label for="name">SKU Name:</label>
    <input type="text" name="name"><br>

    <label for="stock">Stock:</label>
    <input type="number" name="stock"><br>

    <label for="uom">UOM:</label>
    <input type="text" name="uom"><br>

    <label for="cost">Unit Price:</label>
    <input type="number" name="cost"><br>

    <input type="submit">
  </form>

  <form action="/sale" method="POST">
    <h2>Record Sold Item</h2>

    <label for="date">Sale Date:</label>
    <input type="date" name="date">
    <input type="time" name="time"><br>

    <label for="name">SKU Name:</label>
    <input type="text" name="name"><br>

    <label for="lot">Lot ID:</label>
    <input type="text" name="lot"><br>

    <label for="stock">Stock:</label>
    <input type="number" name="stock"><br>

    <label for="cost">Unit Price:</label>
    <input type="number" name="cost"><br>

    <input type="submit">
  </form>
</body>

</html>